.card {
	border-radius: 10px;

	&-header {
		&:first-child {
			border-radius: calc(10px - 1px) calc(10px - 1px) 0 0;
		}
	}

	&-footer {
		&:last-child {
			border-radius: 0 0 calc(10px - 1px) calc(10px - 1px);
		}
	}
}
