#nprogress {
	.bar {
		background: $primary !important;
		height: 4px !important;
	}

	.peg {
		box-shadow: 0 0 10px $primary, 0 0 5px $primary !important;
	}

	.spinner {
		top: 10px !important;
		margin-top: 0 !important;

		& > div {
			background-color: transparent !important;
		}

		&-icon {
			border-top-color: $primary !important;
			border-left-color: $primary !important;
		}
	}
}

.Loader {
	&OrderPlaced {
		.modal {
			&-content {
				border: 0;
				@include border-radius(20px);
				@include box-shadow(0, 0, 6px, rgba($color: #8a8a8a, $alpha: 0.24));
			}
		}

		&-Title {
			color: #5d5d5d;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
			max-width: 330px;
			margin: 10px auto;
		}
	}
}

.spinner {
	margin: 20px auto 0;
	width: 70px;
	text-align: center;

	& > div {
		width: 18px;
		height: 18px;
		background-color: $primary;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
